.container {
    max-width: 1200px; 
    display: flex; 
    justify-content: space-between;   /* alinha os elementos na horizontal */
    margin: 0 auto; 
    flex-wrap: wrap;  /* quando ultrapassar a largura de 1200px os elementos vao para baixo criando uma nova linha */
}

.min-height {
    min-height: 75%; /* altura minima do container */
}

.start {
    justify-content: flex-start; /* alinha os elementos na horizontal */
}

.column {
    flex-direction: column;
    justify-content: flex-start; /* alinha os elementos na vertical */
}